//
// Global
// --------------------------------------------------

html,
body {
  overflow-x: hidden;

  @media (max-width: $screen-xs-max) {
    padding-right: 0;
  }
}

.brandLogo {
  background-image: url(../assets/images/logo-icon-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
  
  &:hover {
    opacity: 0.8;
  }
}

.brandLogo--small {
  width: 40px;
  height: 40px;
}

.brandLogo--black {
  background-image: url(../assets/images/logo-icon-blue.png);
  
  &:hover {
    opacity: 0.8;
  }
}

.textLogo {
  display: block;
  background-image: url(../assets/images/logo-black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
}

.textLogo--white {
  background-image: url(../assets/images/logo-black.png);
}

.textLogo--sidebar {
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.textLogo--frontpage {
  position: absolute;
  top: 132px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $zIndex-5--textlogo-frontpage;
  margin: 0;
  width: 300px;
  height: 59px;
  background-size: 100%;
  background-position: 0;
  opacity: 0.9;

  @media (max-width: $screen-xs-max) {
    width: 240px;
    height: 40px;
    top: 99px;
  }
}

@media (max-width: 768px) {
  .brandLogo--small {
    width: 36px;
    height: 36px;
  }
}